<div>
    <h1>{{name}}</h1>
    <ul>
        <li>
            Capital:<span>{{capital}}</span>
        </li>
        <li>
            Population:<span>{{population}}</span>
        </li>
        <li>Languages:
            <ul>
                {{#each languages}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </li>
    </ul>
</div>
<img src="{{flag}}" alt="{{name}}" width="300" />