<div class="country-add">
    <h1 class="country-header">{{name}}</h1>
    <ul class="country-list">
        <li class="country-item">
            Capital:<span class="item-info">{{capital}}</span>
        </li>
        <li class="country-item">
            Population:<span class="item-info">{{population}}</span>
        </li>
        <li class="country-item">Languages:
            <ul class="languages-list">
                {{#each languages}}
                <li class="lng item-info">{{this.name}}</li>
                {{/each}}
            </ul>
        </li>
    </ul>
</div>
<img src="{{flag}}" alt="{{name}}" width="300" />